.rock{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.boton{
    width: 100px;
    height: 100px;
}
li{
    padding: 10px;
    list-style: none;
    color: white;
    text-align: center;

}
main{
    position: relative;
}
ul{
    display: flex;
    
    margin: 0;
}
.texto{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
    text-decoration: none;
    text-align: center;
    
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.escucha{
    background-color: #dbdbdbce;
    color: rgb(255, 255, 255);
    opacity: 0.9;
    padding: 5px;
    border: 3px solid rgb(138, 129, 129);
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.8;
}
.inicio{
    justify-content: space-around;
}
td{
    padding: 10px;
    border-bottom: 2px solid black;
}
h3{
    text-align: center;
}
tr{
    border-bottom: 10px solid black;
}
section{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}
.compra{
    color: rgb(255, 255, 255);
    border: 10px solid rgb(51, 174, 245);
    background-color: rgb(51, 174, 245);
}
footer{
    position: relative;
    color: white;
    background-color: rgb(0, 0, 0);    
    width: 100%;
    height: 100%;
}
.pie{
    color: aqua;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.foo{
    width: 40px;
    margin: 20px;
    filter: invert(1);
}
h4{
    justify-content: center;
}
nav{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
table{
    width: 100%;
    height: 100%;
}
